.class1 {
  width: 600px;
  height: 400px;
  padding: 20px;
  margin: 20px;
  font-size: 20px;
}
p {
  line-height: 50px;
  font-size: 20px;
}
#id1 {
  font-size: 50px;
  text-align: center;
  color: blueviolet;
  font-weight: bolder;
}

.class3 {
  float: left;
}
.flex-box {
  display: flex;
}
#id2 div {
  height: 250px;
  width: 250px;
  margin: 40px;
  padding: 20px;
}
#id5 div {
  height: 350px;
  width: 650px;
  margin: 40px;
  padding: 20px;
}
#id2 {
  flex-wrap: wrap;
}
#id2 p {
  font-size: 25px;
  color: red;
  font-weight: bold;
  text-align: center;
  font-style: italic;
}
.class4 {
  background-color: rgb(117, 230, 126);
}
.class5 {
  height: 400px;
  width: 500px;
  float: left;
  margin: -950px 0 0 800px;
}
.class5 div {
  margin-bottom: 100px;
}
.class6 {
  float: left;
  height: 300px;
  width: 500px;
}
#id3 {
  font-size: 25px;
  color: green;
  text-decoration: underline;
}
#id4 {
  font-size: 32px;
  background-color: #e91e63;
  color: white;
  border-radius: 30px;
  text-align: center;
}
#id6 {
  font-size: 20px;
  background-color: #9c27b0;
  height: 60px;
  width: 300px;
  text-align: center;
  border-radius: 30px;
  color: white;
}
.class11 {
  color: white;
}
.class12 > p {
  color: #2196f3;
}
.class1 > p {
  color: #4caf50;
}
@media (max-width: 600px) {
  #id2 {
    flex-direction: column;
  }
  #id5 {
    flex-direction: column;
  }
  .class3 {
    float: none;
  }
  .class6 {
    height: 500px;
    width: 300px;
    float: none;
    margin-top: 200px;
    padding: 20px;
  }
  .class5 {
    margin: 0;
    float: none;
  }
  .class1 {
    width: 100px;
    height: 600px;
  }
}
#idd0 {
  display: grid;
  margin: 20px;
  grid-template-columns: auto;
  grid-template-rows: auto;
}
#idd1 {
  font-size: 25px;
  padding: 20px;
  margin: 20px;
  background-color: #e91e63;
  border-radius: 20px;
}
#idd2 {
  height: 200px;
  margin: 20px;
  padding: 20px;
}
#idd3 {
  height: 200px;
  margin: 20px;
  padding: 20px;
}
#idd4 {
  height: 200px;
  margin: 100px;
  padding: 20px;
}
#idd5 {
  height: 200px;
  margin: 100px;
  padding: 20px;
}
.clear {
  clear: both;
}
#idd1 {
  grid-area: a;
}
#idd2 {
  grid-area: b;
}
#idd3 {
  grid-area: c;
}
#idd4 {
  grid-area: d;
}
#idd5 {
  grid-area: e;
}
#idd0 {
  grid-template:
    "a a a a"
    "b b c c"
    "d d e e";
}
@media only screen and (max-width: 600px) {
  #idd0 {
    grid-template:
      "a a a a"
      "b b b b"
      "c c c c"
      "d d d d"
      "e e e e";
  }
}
@media only screen and (max-width: 992px) and (min-width: 600px) {
  #idd0 {
    grid-template:
      "a a a a"
      "b b c c"
      "d d e e";
  }
}
